.image {
	top: 50%;
	left: 50%;
	width: 20%;
	opacity: 0.2;
}

.home-flex {
	flex-direction: row;
}

@media (max-width: 480px) {
	.image {
		width: 60%;
		margin: 2rem auto;
	}

	.home-flex {
		flex-direction: column;
	}
}